EXPO_PUBLIC_API_BASE_URL=https://api.mi-san.kingdom-devs.net/api
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_ENABLE_NATIVE_ADS=false
EXPO_PUBLIC_ENABLE_NATIVE_BILLING=false
EXPO_PUBLIC_GOOGLE_PLAY_PREMIUM_PRODUCT_ID=premium_sin_ads
ADMOB_ANDROID_APP_ID=ca-app-pub-3940256099942544~3347511713
ADMOB_ANDROID_BANNER_ID=ca-app-pub-3940256099942544/6300978111
ADMOB_ANDROID_INTERSTITIAL_ID=ca-app-pub-3940256099942544/1033173712
ADMOB_IOS_APP_ID=ca-app-pub-3940256099942544~1458002511
ADMOB_IOS_BANNER_ID=ca-app-pub-3940256099942544/2934735716
ADMOB_IOS_INTERSTITIAL_ID=ca-app-pub-3940256099942544/4411468910
