EXPO_PUBLIC_API_BASE_URL=https://api.mi-san.kingdom-devs.net/api
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=replace_with_google_web_client_id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=replace_with_google_android_client_id
EXPO_PUBLIC_ENABLE_NATIVE_ADS=true
ADMOB_ANDROID_APP_ID=replace_with_admob_android_app_id
ADMOB_ANDROID_BANNER_ID=replace_with_admob_android_banner_id
ADMOB_ANDROID_INTERSTITIAL_ID=replace_with_admob_android_interstitial_id
ADMOB_IOS_APP_ID=replace_with_admob_ios_app_id
ADMOB_IOS_BANNER_ID=replace_with_admob_ios_banner_id
ADMOB_IOS_INTERSTITIAL_ID=replace_with_admob_ios_interstitial_id
